*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body
{
    background: linear-gradient(90deg, rgb(2, 17, 102), rgb(0, 66, 209));
}

.holder
{
    width: 50%;
    height: 80%;
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px rgba(0, 255, 255, 0.2);
    /* overflow: hidden; */
}
.left
{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 66, 209);
    text-align: center;
    border-radius: 5px;
    color: rgb(0, 225, 255);
}
.right
{
    width: 50%;
    height: 100%;
    background-color: rgb(2, 17, 102);
    text-align: center;
    color: rgb(0, 225, 255);;
    border-radius: 5px;
}
.controls
{
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.name
{
    font-size: 40px;
    padding-top: 10%;
}
.diceValue
{
    font-size: 40px;
    padding-top: 10%;
}
.scoreHolder
{
    width: 60%;
    height: 100px;
    border-radius: 6px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 50px 5px rgb(0, 225, 255, 0.2);
}
.scoreHolderName
{
    font-size: 25px;
    padding: 5%;
    color: rgb(0, 225, 255);
}
.scoreHolderValue
{
    font-size: 30px;
    color: rgb(0, 225, 255);
}
.NewGame
{
    width: 50%;
    height: 40px;
    background-color: rgb(0, 225, 255);
    border-radius: 50px;
    border: none;
    margin: 30% 0% 0% 25%;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgb(0, 225, 255);
}
.DiceImg
{
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.RollDice
{
    width: 60%;
    height: 40px;
    background-color: rgb(0, 225, 255);
    border-radius: 50px;
    border: none;
    margin: 80% 0% 0% 20%;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgb(0, 225, 255);
}
.Hold
{
    width: 40%;
    height: 40px;
    background-color: rgb(0, 225, 255);
    border-radius: 50px;
    border: none;
    margin: 4% 0% 0% 30%;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgb(0, 225, 255);
}

.left .scoreHolder
{
    left: 40%;
    background-color: rgb(2, 17, 102);
    color: aliceblue;
}
.right .scoreHolder
{
    left: 60%;
    background-color: rgb(0, 66, 209);
    color: black;
}


.sideLeft
{
    position: relative;
    z-index: 1;
    transform: translate(-9px,0%) scale(1.04);
    transition: 0.2s;
}
.sideRight
{
    position: relative;
    z-index: 1;
    transform: translate(9px,0%) scale(1.04);
    transition: 0.2s;
}